.order-table tbody {
}
.order__search {
  margin-bottom: 20px;
}
.order__search input {
  width: 100%;
  padding: 0px 44px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 214%;
  color: #000;
  border-radius: 20px;
  max-width: 400px;
  height: 37px;
  background: #f5f5f5;
  border: 0.5px solid transparent;
  transition: 0.2s ease-in;
  &:focus {
    outline: none;
    border: 0.5px solid #000;
    transition: 0.2s ease-in;
  }
}
.p-input-icon-left {
  width: 50%;
  min-width: 260px;
}
.p-input-icon-left > i {
  left: 20px;
}
.order-date {
  display: block;
  margin-bottom: 5px;
  font-family: ProximaNova, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #000;
}

.order-time {
  font-family: ProximaNova, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #a7a7a7;
}
.order__btn {
  height: 28px;
  width: 80px;
  margin-right: 10px;
}
.order__btn .btn-anim__text {
  font-size: 14px;
}
.order__btn-delete {
  vertical-align: middle;
  font-family: ProximaNova, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: normal;
  text-decoration: underline;
  text-align: right;
  color: #a7a7a7;
  transition: 0.2s ease-in;
  &:hover {
    transition: 0.2s ease-in;
    color: #000;
  }
}
.order__td {
  padding: 5px;
  &:last-child {
    width: 160px;
  }
}
