<section class="cut-info">
  <div class="small-container">
    <div class="cut-info__wrap">
      <div class="breadcrumbs cut-info__breadcrumbs">
        <span class="breadcrumbs__link">Корзина</span>
        <span class="breadcrumbs__link breadcrumbs__link--active"
          >информация</span
        >
        <span class="breadcrumbs__link">доставка</span>
        <span class="breadcrumbs__link">оплата</span>
      </div>
      <form action="#" class="cut-info__form form form-info" [formGroup]="form">
        <div class="form-info__wrap form__wrap">
          <div class="form-info__row form__row">
            <label class="form__label form-info__label">
              <span class="form-info__text-wrap">
                <span class="form-info__title">Контакт</span>
                <span class="form-info__text form-info__text&#45;&#45;light">
                  У Вас уже есть аккаунт?
                  <a routerLink="../login" class="form-info__link"
                    >Авторизоваться</a
                  >
                </span>
              </span>
              <input
                type="text"
                class="form__input form-info__input input-reset"
                placeholder="Электронная почта"
                [formControl]="$any(form.controls['email'])"
                [class.error]="
                  $any(form.controls['email']).invalid &&
                  (form.controls['email'].touched ||
                    form.controls['email'].dirty)
                "
              />
            </label>
          </div>
          <!--          <div class="form-info__row form__row">-->
          <!--            <label class="custom-checkbox form-info__checkbox">-->
          <!--              <input type="checkbox" class="custom-checkbox__field" name="mailing">-->
          <!--              <span-->
          <!--                class="custom-checkbox__content form-info__checkbox-content form-info__text&#45;&#45;light">Присылайте мне электронные письма с новостями и предложениями-->
          <!--              </span>-->
          <!--            </label>-->
          <!--          </div>-->
          <div class="form-info__inner">
            <span class="form-info__title">адрес доставки </span>
            <div class="form__row">
              <div class="form-group form-info__select form__select">
                <div class="dropdown form-info__dropdown form__dropdown">
                  <button
                    type="button"
                    class="dropdown__button"
                    (click)="openDropdown($event.target)"
                  >
                    {{ this.form.controls["country"].value }}
                  </button>
                  <svg class="dropdown__icon">
                    <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                  </svg>
                  <ul class="dropdown__list">
                    <li
                      class="dropdown__list-item"
                      data-value="Россия"
                      (click)="this.form.controls['country'].setValue('Россия')"
                    >
                      Россия
                    </li>
                    <li
                      class="dropdown__list-item"
                      data-value="Беларусь"
                      (click)="
                        this.form.controls['country'].setValue('Беларусь')
                      "
                    >
                      Беларусь
                    </li>
                    <li
                      class="dropdown__list-item"
                      data-value="Казахстан"
                      (click)="
                        this.form.controls['country'].setValue('Казахстан')
                      "
                    >
                      Казахстан
                    </li>
                  </ul>
                  <input
                    type="text"
                    name="select-category"
                    [formControl]="$any(form.controls['country'])"
                    class="dropdown__input-hidden"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="form-info__row form__row">
            <label class="form__label form-info__label">
              <input
                name="name"
                type="text"
                class="form__input form-info__input input-reset"
                placeholder="Имя"
                [formControl]="$any(form.controls['firstname'])"
                [class.error]="
                  $any(form.controls['firstname']).invalid &&
                  (form.controls['firstname'].touched ||
                    form.controls['firstname'].dirty)
                "
              />
            </label>
            <label class="form__label form-info__label">
              <input
                name="surname"
                type="text"
                class="form__input form-info__input input-reset"
                placeholder="Фамилия"
                [formControl]="$any(form.controls['surname'])"
                [class.error]="
                  $any(form.controls['surname']).invalid &&
                  (form.controls['surname'].touched ||
                    form.controls['surname'].dirty)
                "
              />
            </label>
          </div>
          <div class="form-info__row form__row">
            <label class="form__label form-info__label">
              <input
                name="city"
                type="text"
                class="form__input form-info__input input-reset"
                placeholder="Город"
                [formControl]="$any(form.controls['city'])"
                [class.error]="
                  $any(form.controls['city']).invalid &&
                  (form.controls['city'].touched || form.controls['city'].dirty)
                "
              />
            </label>
            <label class="form__label form-info__label">
              <input
                name="index"
                type="text"
                class="form__input form-info__input input-reset"
                placeholder="Индекс"
                [formControl]="$any(form.controls['postcode'])"
                [class.error]="
                  $any(form.controls['postcode']).invalid &&
                  (form.controls['postcode'].touched ||
                    form.controls['postcode'].dirty)
                "
              />
            </label>
          </div>
          <div class="form-info__row form__row">
            <label class="form__label form-info__label">
              <input
                name="street"
                type="text"
                class="form__input form-info__input input-reset"
                placeholder="Улица"
                [formControl]="$any(form.controls['street'])"
                [class.error]="
                  $any(form.controls['street']).invalid &&
                  (form.controls['street'].touched ||
                    form.controls['street'].dirty)
                "
              />
            </label>
            <label class="form__label form-info__label">
              <input
                name="house-num"
                type="text"
                class="form__input form-info__input input-reset"
                placeholder="Номер дома"
                [formControl]="$any(form.controls['house'])"
                [class.error]="
                  $any(form.controls['house']).invalid &&
                  (form.controls['house'].touched ||
                    form.controls['house'].dirty)
                "
              />
            </label>
          </div>
          <div class="form-info__row form__row">
            <label class="form__label form-info__label">
              <p-inputMask
                mask="+9(999) 999-99-99"
                class="form-reg__input form__input"
                placeholder="Телефон"
                [formControl]="$any(form.controls)['phone']"
                [ngClass]="{
                  error:
                    $any(form.controls)['phone'].invalid &&
                    ($any(form.controls)['phone'].touched ||
                      $any(form.controls)['phone'].dirty)
                }"
              ></p-inputMask>
            </label>
          </div>
          <div class="form-info__row form__row">
            <label
              class="custom-checkbox form-info__checkbox"
              (change)="onSaveFormToStorageClick()"
            >
              <input
                type="checkbox"
                class="custom-checkbox__field"
                name="save"
              />
              <span
                class="custom-checkbox__content form-info__checkbox-content form-info__text--light"
                >Сохраните эту информацию для использования в следующий
                раз</span
              >
            </label>
          </div>
        </div>
        <button
          type="button"
          class="form-info__btn btn-reset form__btn btn-anim"
          [class.disabled]="form.invalid"
          (click)="submitAddress(form)"
        >
          <span class="form__btn-text form-info__btn-text btn-anim__text"
            >продолжить</span
          >
        </button>
      </form>
      <div class="cut-info__result result-cut accordion">
        <div class="result-cut__accordion-title accordion__title">
          показать заказ
          <div class="accordion__icon">
            <span
              class="accordion__icon-line accordion__icon-line--horizontal"
            ></span>
            <span
              class="accordion__icon-line accordion__icon-line--vertical"
            ></span>
          </div>
        </div>
        <div class="accordion__content">
          <h1 class="result-cut__title">итоговая сумма</h1>
          <div class="result-cut__items" data-simplebar>
            <div
              class="result-cut__item item-cut"
              *ngFor="let product of generalService.selectedItems"
            >
              <div class="item-cut__wrap">
                <picture>
                  <source
                    [srcset]="
                      product.product.coverImage ||
                      'assets/img/no-img-placeholder.svg'
                    "
                    type="image/webp"
                  />
                  <img
                    [src]="
                      product.product.coverImage ||
                      'assets/img/no-img-placeholder.svg'
                    "
                    class="image"
                    width="130"
                    height="130"
                    alt="prod-image"
                  />
                </picture>
                <div class="item-cut__content" data-prod="result-cut">
                  <h3 class="item-cut__title">{{ product.product.name }}</h3>
                  <span class="item-cut__price"
                    >{{
                      generalService.getProductAmount(product) *
                        product.product.price
                    }}
                    руб</span
                  >
                  <div class="item-cut__count count-prod">
                    <button
                      class="btn-reset count-prod__minus"
                      (click)="generalService.deleteProduct(product)"
                    >
                      -
                    </button>
                    <span class="count-prod__count">{{
                      generalService.getProductAmount(product)
                    }}</span>
                    <button
                      class="btn-reset count-prod__plus"
                      (click)="generalService.addProduct(product)"
                    >
                      +
                    </button>
                  </div>
                </div>
                <button
                  class="btn-reset item-cut__delete"
                  (click)="generalService.deleteProduct(product)"
                >
                  <img
                    src="assets/img/cut-img/delete-prod.png"
                    width="20"
                    height="20"
                    alt="delete-icon"
                    class="item-cut__icon-delete"
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="result-cut__sum sum-cut">
            <div class="sum-cut__wrap">
              <!--              <form action="#" class="sum-cut__coupon form form-coupon">-->
              <!--                <label class="form__label">-->
              <!--                  <input type="text" class="input-reset form__input form-coupon__input" name="coupon"-->
              <!--                         placeholder="Подарочная карта или купон">-->
              <!--                </label>-->
              <!--                <button type="button" class="form-coupon__btn btn-reset form__btn btn-anim">-->
              <!--                  <span class="form__btn-text form-coupon__btn-text btn-anim__text">применить</span>-->
              <!--                </button>-->
              <!--              </form>-->
              <div class="sum-cut__inner-text">
                <!--                <div class="sum-cut__row">-->
                <!--                  <span class="sum-cut__title">промежуточный</span>-->
                <!--                  <span class="sum-cut__txt" data-full-price="result-cut">0</span>-->
                <!--                </div>-->
                <!-- <div class="sum-cut__row">
                  <span class="sum-cut__title">доставка</span>
                  <span class="sum-cut__txt sum-cut__txt--light"
                    >Рассчитывается на следующем шаге</span
                  >
                </div> -->
                <div class="sum-cut__row">
                  <span class="sum-cut__title sum-cut__title--lg">итог</span>
                  <span class="sum-cut__txt sum-cut__txt--lg"
                    >{{ generalService.getTotalCartPrice() }} руб</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  class="popup"
  *ngIf="showModal && addressArray.length > 0"
  [ngClass]="{ open: showModal }"
>
  <div class="popup__overlay" (click)="showModal = !showModal"></div>
  <div class="popup__content">
    <button class="btn-reset popup__btn-close" (click)="showModal = !showModal">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 30 30"
        fill="none"
      >
        <line
          x1="1.98995"
          y1="1"
          x2="29.2843"
          y2="28.2943"
          stroke="black"
          stroke-width="1.4"
          stroke-linecap="round"
        ></line>
        <line
          x1="0.7"
          y1="-0.7"
          x2="39.3"
          y2="-0.7"
          transform="matrix(-0.707107 0.707107 0.707107 0.707107 29.2852 1)"
          stroke="black"
          stroke-width="1.4"
          stroke-linecap="round"
        ></line>
      </svg>
    </button>
    <span class="popup__title">Выберите адрес:</span>
    <div class="adress">
      <ul class="address__list">
        <li
          class="address__item address-elem"
          *ngFor="let address of addressArray"
          (click)="updateForm(address)"
        >
          <div class="address-elem__wrap">
            <span class="address-elem__id">Адрес {{ address.id }}</span>
            <span class="address__info">{{
              address.street +
                ", " +
                address.house +
                ", " +
                address.postcode +
                ", " +
                address.city +
                ", " +
                address.country
            }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
