<section class="all-news">
  <div class="all-news__header">
    <h1 class="all-news__title">новости</h1>
    <p class="all-news__subtitle">
      Свежие тренды и вдохновение: <br />
      последние новости из мира мебели
    </p>
  </div>
  <div class="small-container">
    <div class="breadcrumbs all-news__breadcrumbs">
      <a [routerLink]="'/'" class="breadcrumbs__link">главная</a>
      <a
        [routerLink]="'/all-news'"
        class="breadcrumbs__link breadcrumbs__link--active"
        >Новости</a
      >
    </div>
    <div class="all-news__content" [style.padding-bottom]="'32px'">
      <div class="tabs__content">
        <div class="tabs__panel content-all-news__panel">
          <ul class="content-all-news__list">
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item1.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item1.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item2.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item2.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item3.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item3.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item4.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item4.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item1.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item1.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item2.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item2.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item3.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item3.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item4.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item4.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item1.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item1.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item2.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item2.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item3.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item3.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item4.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item4.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item1.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item1.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item2.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item2.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item3.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item3.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="content-all-news__item item-news">
              <a [routerLink]="'/news-page'">
                <article class="item-news__wrap">
                  <div class="item-news__image">
                    <picture>
                      <source
                        srcset="assets/img/news/news-item4.webp"
                        type="image/webp"
                      />
                      <img
                        src="assets/img/news/news-item4.jpg"
                        class="image"
                        width="340"
                        height="478"
                        alt="news-image"
                      />
                    </picture>
                  </div>
                  <div class="item-news__row">
                    <span class="item-news__categories"> тренды </span>
                    <span class="item-news__date"> 05.10.23 </span>
                  </div>
                  <div class="item-news__description">
                    <h1 class="item-news__title">тренды в мебели 2024</h1>
                    <p class="item-news__text">
                      Какие модные тренды и тенденции в мире мебели нас ждут в
                      2024 году? Расскажем и покажем в этой статье
                    </p>
                  </div>
                </article>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
