<div class="orders">
  <ul class="orders__list">
    <li class="orders__item order">
      <div class="order__wrap">
        <div class="order__images">
          <div class="order__img-wrap">
            <img src="assets/img/categories/furniture1.jpg" alt="product-img" class="order__img" width="75" height="75">
          </div>
          <div class="order__img-wrap">
            <img src="assets/img/categories/furniture1.jpg" alt="product-img" class="order__img" width="75" height="75">
          </div>
          <div class="order__img-wrap">
            <img src="assets/img/categories/furniture1.jpg" alt="product-img" class="order__img" width="75" height="75">
          </div>
          <div class="order__else">
            <p class="order__else-text">
              + 8 <br>товаров
            </p>
          </div>

        </div>
        <div class="order__info">
          <h3 class="order__id">№ 359245260</h3>
          <div class="order__info-wrap">
            <span class="order__info-text">Новый</span>
            <span class="order__info-text">12.05.24</span>
            <span class="order__info-text">1 200 000 руб.</span>
          </div>

        </div>
        <button class="btn-reset btn-anim order__btn" routerLink="1">
          <span class="btn-anim__text">посмотрть заказ</span>
        </button>
      </div>
    </li>
    <li class="orders__item order">
      <div class="order__wrap">
        <div class="order__images">
          <div class="order__img-wrap">
            <img src="assets/img/categories/furniture1.jpg" alt="product-img" class="order__img" width="75" height="75">
          </div>
          <div class="order__img-wrap">
            <img src="assets/img/categories/furniture1.jpg" alt="product-img" class="order__img" width="75" height="75">
          </div>

        </div>
        <div class="order__info">
          <h3 class="order__id">№ 359245260</h3>
          <div class="order__info-wrap">
            <span class="order__info-text">Новый</span>
            <span class="order__info-text">12.05.24</span>
            <span class="order__info-text">1 200 000 руб.</span>
          </div>

        </div>
        <button class="btn-reset btn-anim order__btn">
          <span class="btn-anim__text">посмотрть заказ</span>
        </button>
      </div>
    </li>
    <li class="orders__item order">
      <div class="order__wrap">
        <div class="order__images">
          <div class="order__img-wrap">
            <img src="assets/img/categories/furniture1.jpg" alt="product-img" class="order__img" width="75" height="75">
          </div>
          <div class="order__img-wrap">
            <img src="assets/img/categories/furniture1.jpg" alt="product-img" class="order__img" width="75" height="75">
          </div>
          <div class="order__img-wrap">
            <img src="assets/img/categories/furniture1.jpg" alt="product-img" class="order__img" width="75" height="75">
          </div>

        </div>
        <div class="order__info">
          <h3 class="order__id">№ 359245260</h3>
          <div class="order__info-wrap">
            <span class="order__info-text">Новый</span>
            <span class="order__info-text">12.05.24</span>
            <span class="order__info-text">1 200 000 руб.</span>
          </div>

        </div>
        <button class="btn-reset btn-anim order__btn">
          <span class="btn-anim__text">посмотрть заказ</span>
        </button>
      </div>
    </li>
    <li class="orders__item order">
      <div class="order__wrap">
        <div class="order__images">
          <div class="order__img-wrap">
            <img src="assets/img/categories/furniture1.jpg" alt="product-img" class="order__img" width="75" height="75">
          </div>

        </div>
        <div class="order__info">
          <h3 class="order__id">№ 359245260</h3>
          <div class="order__info-wrap">
            <span class="order__info-text">Новый</span>
            <span class="order__info-text">12.05.24</span>
            <span class="order__info-text">1 200 000 руб.</span>
          </div>

        </div>
        <button class="btn-reset btn-anim order__btn">
          <span class="btn-anim__text">посмотрть заказ</span>
        </button>
      </div>
    </li>
  </ul>
</div>
