.orders {
}

.orders__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order {
}
.orders__empty {
  text-align: center;
  margin-bottom: 20px;
  color: #23221e;
  font-family: Romile, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.orders__empty-link {
  color: #23221e;
  font-family: Romile, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}
.orders__empty-link:hover {
  transition: 0.1s ease-in;
  text-shadow: 0 0 0.5px #000000;
}

.order__wrap {
  overflow: hidden;
  height: 185px;
  display: flex;
  align-items: center;
  background: #fcfcfc;
}

.order__images {
  max-width: 160px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.order__img-wrap {
  flex: 1 1 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.order__else {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  background: #f8f8f8;
}

.order__else-text {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

.order__id {
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
}

.order__info {
  padding: 20px;
  flex: 1 1 auto;
}

.order__info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #000;
  &:not(:last-child) {
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid #000;
  }
}

.order__btn {
  height: 35px;
  margin-right: 50px;
  width: 220px;
}

@media all and (max-width: 790px) {
  .order__wrap {
    overflow: hidden;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fcfcfc;
  }
  .order__btn {
    margin: 20px auto;
    height: 35px;
    width: 100%;
    max-width: 220px;
  }
}
@media all and (max-width: 520px) {
  .order__info-text {
    display: block;
    width: max-content;
    &:not(:last-child) {
      margin-bottom: 10px;
      padding-bottom: 10px;
      padding-right: 0;
      margin-right: 0;
      border-right: none;
      border-bottom: 1px solid #000;
    }
  }
  .order__images {
    max-width: 160px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}
