<form class="form" [formGroup]="formClient" (ngSubmit)="submit(formClient)">
  <h2 class="form__title">контакты</h2>
  <div class="form__wrap">
    <div class="form__row">
      <label class="form__label">
        <input
          type="text"
          class="input-reset form__input"
          placeholder="Электронная почта"
          formControlName="email"
          [ngClass]="{
            error:
              formClient.controls['email'].invalid &&
              (formClient.controls['email'].touched ||
                formClient.controls['email'].dirty)
          }"
        />
      </label>
      <label class="form__label">
        <p-inputMask
          mask="+7(999) 999-99-99"
          class="form__input"
          placeholder="Телефон"
          formControlName="phone"
          [ngClass]="{
            error:
              formClient.controls['phone'].invalid &&
              (formClient.controls['phone'].touched ||
                formClient.controls['phone'].dirty)
          }"
        ></p-inputMask>
      </label>
    </div>
    <label class="custom-checkbox form-reg__checkbox">
      <input
        type="checkbox"
        class="custom-checkbox__field"
        name="mailing"
        value="true"
        formControlName="isAdvertisementNotifications"
        [ngClass]="{
          error:
            formClient.controls['isAdvertisementNotifications'].invalid &&
            (formClient.controls['isAdvertisementNotifications'].touched ||
              formClient.controls['isAdvertisementNotifications'].dirty)
        }"
      />
      <span class="custom-checkbox__content form-reg__checkbox-content"
        >Присылайте мне электронные письма с новостями и предложениями
      </span>
    </label>
  </div>
  <h2 class="form__title">основные данные</h2>
  <div class="form__wrap">
    <div class="form__row">
      <label class="form__label">
        <input
          type="text"
          class="input-reset form__input"
          placeholder="Фамилия"
          formControlName="surname"
          [ngClass]="{
            error:
              formClient.controls['surname'].invalid &&
              (formClient.controls['surname'].touched ||
                formClient.controls['surname'].dirty)
          }"
        />
      </label>
      <label class="form__label">
        <input
          type="text"
          class="input-reset form__input"
          placeholder="Имя"
          formControlName="firstName"
          [ngClass]="{
            error:
              formClient.controls['firstName'].invalid &&
              (formClient.controls['firstName'].touched ||
                formClient.controls['firstName'].dirty)
          }"
        />
      </label>
    </div>
    <div class="form__row">
      <label class="form__label">
        <input
          type="text"
          class="input-reset form__input"
          placeholder="Отчество"
          formControlName="middleName"
          [ngClass]="{
            error:
              formClient.controls['middleName'].invalid &&
              (formClient.controls['middleName'].touched ||
                formClient.controls['middleName'].dirty)
          }"
        />
      </label>
    </div>
  </div>
  <button class="form__btn btn-reset btn-anim" [disabled]="formClient.invalid">
    <span class="btn-anim__text">Сохранить</span>
  </button>
</form>
