<div class="product">
  <div class="product__wrap">
    <div class="product__header">
      <a routerLink="../../" class="product__header-link">
        <i class="product__header-icon pi pi-arrow-left"></i>
        <h1 class="product__header-title">
          {{ product.name }}
        </h1>
      </a>
    </div>

    <div class="product__content content-product">
      <form [formGroup]="mainForm" class="form-main">
        <div class="content-product__images product-image">
          <span class="product-image__main-title">Главное фото</span>
          <div class="product-image__main">
            <img
              class="product-image__img"
              [src]="product.coverImage || 'assets/img/no-img-placeholder.svg'"
              alt="image"
              width="350"
              height="350"
            />
            <label class="product-image__label">
              <span class="product-image__btn-edit">
                <i class="pi pi-pencil"></i>
              </span>
              <input
                class="input-reset product-image__input-file"
                type="file"
                (change)="onFileSelected($event)"
                accept="image/*"
              />
            </label>
          </div>

          <div class="product-image__slider">
            <span class="product-image__slider-title"
              >Дополнительные изображения:</span
            >
            <div class="product-image__slider-wrap">
              <div
                class="product-image__slide"
                *ngFor="let item of productImages; let i = index"
              >
                <img
                  [src]="item"
                  alt="prod-Image"
                  width="250px"
                  height="250px"
                  class="product-image__slide-img"
                  (click)="imageClick(i)"
                />
                <button
                  type="button"
                  class="btn-reset product-image__btn-remove"
                  (click)="removeImage(i)"
                >
                  X
                </button>
              </div>
            </div>
            <div class="sliderMy__control slider-elseProduct__control">
              <button
                type="button"
                class="btn-reset sliderMy__btn sliderMy__btn--prev"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="39"
                  height="39"
                  viewBox="0 0 39 39"
                  fill="none"
                >
                  <circle cx="19.5" cy="19.5" r="19" stroke="#E8E8E8" />
                  <path
                    d="M22 25L15.9999 18.9999L22 12.9998"
                    stroke="black"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
              <div class="sliderMy__scrollbar"></div>
              <button
                type="button"
                class="btn-reset sliderMy__btn sliderMy__btn--next"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="39"
                  height="39"
                  viewBox="0 0 39 39"
                  fill="none"
                >
                  <circle cx="19.5" cy="19.5" r="19" stroke="#E8E8E8" />
                  <path
                    d="M22 25L15.9999 18.9999L22 12.9998"
                    stroke="black"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <label class="form-main__label product-image__slider-label">
              <img
                *ngIf="product.additionalImages?.length === 0"
                [src]="'assets/img/no-img-placeholder.svg'"
                alt="img"
                width="120px"
                height="120px"
                class="form-main__label-img"
              />
              <span
                type="button"
                class="btn-reset product-image__main-btn-add btn-anim"
              >
                <span class="btn-anim__text">Загрузить изображения</span>
              </span>

              <input
                class="input-reset product-image__input-file"
                type="file"
                (change)="onFilesSelected($event)"
                multiple
                accept="image/*"
              />
            </label>
          </div>
        </div>
        <div class="product-info">
          <label class="product-info__label form-main__label">
            <span class="product-info__label-text form-main__label-text"
              >Название:</span
            >
            <input
              type="text"
              class="form-main__input input-reset"
              formControlName="name"
              placeholder="Название товара"
              [ngClass]="{
                error:
                  mainForm.controls['name'].invalid &&
                  (mainForm.controls['name'].touched ||
                    mainForm.controls['name'].dirty)
              }"
            />
          </label>
          <label class="product-info__label form-main__label">
            <span class="product-info__label-text form-main__label-text"
              >Стартовая цена:</span
            >
            <input
              type="number"
              class="form-main__input input-reset"
              formControlName="price"
              placeholder="Цена"
              [ngClass]="{
                error: mainForm.controls['price'].invalid
              }"
            />
          </label>
          <div class="section-product-form form-main__label">
            <div class="section-product-form__inner">
              <span class="section-product-form__title form-main__label-text"
                >Категория:
              </span>
              <div class="section-product-form__row">
                <div class="form-group section-product-form__select">
                  <div class="dropdown section-product-form__dropdown">
                    <button
                      type="button"
                      class="dropdown__button dropdown__button--prod"
                      (click)="openDropdown($event.target)"
                    >
                      {{ activeCategory }}
                    </button>
                    <svg class="dropdown__icon">
                      <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                    </svg>
                    <ul class="dropdown__list">
                      <ng-container *ngFor="let categoryItem of category">
                        <ng-container
                          [ngSwitch]="categoryItem.childCategoryIds.length"
                        >
                        </ng-container>
                        <li
                          class="dropdown__list-group"
                          *ngIf="categoryItem.childCategoryIds.length !== 0"
                        >
                          <span class="dropdown__list-group-name">
                            {{ categoryItem.name + ":" }}
                          </span>
                          <ul>
                            <li
                              class="dropdown__list-item dropdown__list-item--prod"
                              *ngFor="let item of categoryItem.childCategoryIds"
                              (click)="selectCategory(item)"
                            >
                              {{ item.name }}
                            </li>
                          </ul>
                        </li>
                        <li
                          class="dropdown__list-item dropdown__list-item--prod dropdown__list-group-name"
                          *ngIf="categoryItem.childCategoryIds.length === 0"
                          (click)="selectCategory(categoryItem)"
                        >
                          {{ categoryItem.name }}
                        </li>
                      </ng-container>
                    </ul>
                    <input
                      type="text"
                      name="select-category"
                      value=""
                      class="dropdown__input-hidden"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <label class="custom-checkbox form-reg__checkbox">
            <input
              type="checkbox"
              class="custom-checkbox__field"
              name="enable"
              formControlName="enabled"
              [ngClass]="{
                error:
                  mainForm.controls['enabled'].invalid &&
                  (mainForm.controls['enabled'].touched ||
                    mainForm.controls['enabled'].dirty)
              }"
            />
            <span class="custom-checkbox__content form-reg__checkbox-content"
              >Товар в наличии
            </span>
          </label>
        </div>
      </form>
    </div>

    <div class="desc-product" *ngIf="product.descriptions">
      <h2 class="product__title2">Описание товара:</h2>
      <ul class="desc-product__wrap">
        <li
          aria-expanded="true"
          class="desc-product__item item-desc"
          *ngFor="let descForm of descFormArr.controls; let i = index"
        >
          <form [formGroup]="$any(descForm)">
            <label class="item-desc__title form-main__label">
              <span class="form-main__label-text">
                Заголовок
                <button
                  type="button"
                  class="btn-reset form-main__desc-remove"
                  (click)="removeDescItem(i)"
                  *ngIf="i > 0"
                >
                  Удалить поле
                </button>
              </span>

              <input
                type="text"
                class="item-desc__title input-reset form-main__input"
                formControlName="name"
                [ngClass]="{
                  error:
                    $any(descForm).controls['name'].invalid &&
                    ($any(descForm).controls['name'].touched ||
                      $any(descForm).controls['name'].dirty)
                }"
              />
            </label>
            <div class="item-desc__content">
              <angular-editor
                [id]="'editor' + i"
                placeholder="Заполните поле..."
                formControlName="descriptionHtml"
                [config]="editorConfig"
                [ngClass]="{
                  error:
                    $any(descForm).controls['descriptionHtml'].invalid &&
                    ($any(descForm).controls['descriptionHtml'].touched ||
                      $any(descForm).controls['descriptionHtml'].dirty)
                }"
              ></angular-editor>
            </div>
          </form>
        </li>
        <button
          type="button"
          class="btn-reset desc-product__btn-add btn-anim"
          (click)="addDescItem()"
        >
          <span class="btn-anim__text">Добавить поле</span>
        </button>
      </ul>
    </div>

    <div class="product__specifications specifications">
      <div class="specifications__wrap">
        <div class="specifications__header">
          <h2 class="product__title2">Атрибуты:</h2>
          <button
            type="button"
            class="btn-reset specifications__btn btn-anim"
            (click)="showAttributeModal()"
          >
            <span class="btn-anim__text">Ваши атрибуты</span>
          </button>
        </div>

        <ul class="attributes__list">
          <li
            class="attributes__item"
            *ngFor="let attributes of formArray.controls"
          >
            <button
              type="button"
              class="btn-reset attributes__item-btn attributes-btn"
              (click)="
                removeAttribute(
                  $any(attributes).controls['specification'].value.id
                )
              "
            >
              <span class="attributes-btn__text">{{
                $any(attributes).controls["specification"].value.name
              }}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 30 30"
                fill="none"
                class="attributes-btn__icon"
              >
                <line
                  x1="1.98995"
                  y1="1"
                  x2="29.2843"
                  y2="28.2943"
                  stroke="black"
                  stroke-width="1.4"
                  stroke-linecap="round"
                ></line>
                <line
                  x1="0.7"
                  y1="-0.7"
                  x2="39.3"
                  y2="-0.7"
                  transform="matrix(-0.707107 0.707107 0.707107 0.707107 29.2852 1)"
                  stroke="black"
                  stroke-width="1.4"
                  stroke-linecap="round"
                ></line>
              </svg>
            </button>
          </li>
        </ul>
        <div
          class="specifications__inner"
          *ngIf="this.detailFormArr.controls.length > 0"
        >
          <h2 class="product__title3">Вариации:</h2>
          <form
            [formGroup]="$any(detailForm)"
            class="specifications__row"
            *ngFor="let detailForm of detailFormArr.controls; let k = index"
          >
            <ng-container
              *ngFor="let specFormGroup of formArray.controls; let i = index"
            >
              <div class="section-product-form">
                <div class="section-product-form__inner">
                  <span class="form-main__label-text"
                    >{{ specFormGroup.value.specification.name }}:
                  </span>
                  <div class="section-product-form__row">
                    <div class="form-group section-product-form__select">
                      <div class="dropdown section-product-form__dropdown">
                        <button
                          type="button"
                          class="dropdown__button"
                          (click)="openDropdown($event.target)"
                        >
                          {{
                            $any(detailForm).controls["specValue"].value[i]
                              .value
                          }}
                        </button>
                        <svg class="dropdown__icon">
                          <use
                            xlink:href="assets/img/sprite.svg#arrow-down"
                          ></use>
                        </svg>
                        <ul class="dropdown__list">
                          <li
                            class="dropdown__list-item"
                            *ngFor="
                              let option of specFormGroup.value.specification
                                .values
                            "
                          >
                            {{ option.value }}
                          </li>
                        </ul>
                        <input
                          type="text"
                          name="select-category"
                          value=""
                          class="dropdown__input-hidden"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <label class="form-main__label form-main__label--spec">
              <span class="form-main__label-text">Цена: </span>
              <input
                type="number"
                class="input-reset form-main__input"
                [formControl]="$any(detailForm).controls['price']"
                [ngClass]="{
                  error: $any(detailForm).controls['price'].invalid
                }"
              />
            </label>
          </form>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn-reset product__btn-save btn-anim"
      (click)="submitFillProduct()"
    >
      <span class="btn-anim__text">Сохранить изменения</span>
    </button>
  </div>
</div>
<p-galleria
  [value]="productImages"
  [(visible)]="displayCustom"
  [(activeIndex)]="activeIndex"
  [responsiveOptions]="responsiveOptions"
  [containerStyle]="{ 'max-width': '850px' }"
  [numVisible]="7"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [showThumbnails]="false"
  [baseZIndex]="100000"
>
  <ng-template pTemplate="item" let-item>
    <img
      [src]="item"
      style="width: 100%; display: block; height: 100%; object-fit: contain"
    />
  </ng-template>
</p-galleria>

<div class="popup" *ngIf="attributeModal" [ngClass]="{ open: attributeModal }">
  <div class="popup__overlay" (click)="showAttributeModal()"></div>
  <div class="popup__content">
    <button class="btn-reset popup__btn-close" (click)="showAttributeModal()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 30 30"
        fill="none"
      >
        <line
          x1="1.98995"
          y1="1"
          x2="29.2843"
          y2="28.2943"
          stroke="black"
          stroke-width="1.4"
          stroke-linecap="round"
        ></line>
        <line
          x1="0.7"
          y1="-0.7"
          x2="39.3"
          y2="-0.7"
          transform="matrix(-0.707107 0.707107 0.707107 0.707107 29.2852 1)"
          stroke="black"
          stroke-width="1.4"
          stroke-linecap="round"
        ></line>
      </svg>
    </button>
    <span class="popup__title">Ваши атрибуты товара</span>
    <div class="add-attribute">
      <div class="add-attribute__item-select">
        <div class="dropdown section-product-form__dropdown">
          <button
            type="button"
            class="dropdown__button placeholder"
            (click)="openDropdown($event.target)"
          >
            Выберите атрибут
          </button>
          <svg class="dropdown__icon">
            <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
          </svg>
          <ul class="dropdown__list">
            <li
              class="dropdown__list-item"
              *ngFor="let spec of allSpecifications"
              (click)="addAttribute(spec)"
            >
              {{ spec.name }}
            </li>
          </ul>
        </div>
      </div>
      <form
        class="add-attribute__form"
        *ngFor="let specForm of newAttributeFormArr.controls"
      >
        <div class="add-attribute__form-header">
          <h2 class="add-attribute__form-title">
            {{ $any(specForm).controls["specification"].value.name }}
          </h2>
          <button
            type="button"
            class="btn-reset add-attribute__btn-remove"
            (click)="
              removeNewAttribute(
                $any(specForm).controls['specification'].value.id
              )
            "
          >
            Удалить
          </button>
        </div>

        <div class="add-attribute__form-content">
          <ng-container
            *ngFor="let specValue of $any(specForm).controls['values'].value"
          >
            <label class="custom-checkbox form-reg__checkbox">
              <input
                type="checkbox"
                class="custom-checkbox__field"
                name="enable"
                [checked]="specValue.enabled"
                (change)="specValue.enabled = !specValue.enabled"
              />
              <span class="custom-checkbox__content form-reg__checkbox-content"
                >{{ specValue.value }}
              </span>
            </label>
          </ng-container>
          <!-- <button
            type="button"
            class="btn-reset add-attribute__btn-add btn-anim"
          >
            <span class="btn-anim__text">+</span>
          </button> -->
        </div>
      </form>
      <button
        type="button"
        class="btn-reset add-attribute__btn-save btn-anim"
        (click)="saveAttribute()"
      >
        <span class="btn-anim__text">Сохранить</span>
      </button>
    </div>
  </div>
</div>
