<section class="authorization">
  <div class="bg-gray">
    <div class="authorization__wrap">
      <h1 class="authorization__title">
        аВТОРИЗОВАТЬСЯ
      </h1>
      <p class="authorization__subtitle">
        Войдите в свой аккаунт для доступа к персональным настройкам и возможностям
      </p>
      <div class="small-container">
        <div class="authorization__inner">
          <form action="#" class="authorization__form form form-login">
            <div class="form-login__title">войти</div>
            <label class="form-login__label form__label">
              <input class="input-reset form__input form-login__input" placeholder="E-mail*" required type="text">
            </label>
            <label class="form-login__label form__label">
              <input class="input-reset form__input form-login__input" placeholder="Пароль" required type="password">
            </label>
            <button class="btn-reset form-login__btn btn-anim">
              <span class="btn-anim__text">войти</span>
            </button>
            <span class="form-login__text">
              Еще не зарегистрированы? <br>
              <a routerLink="../registration" class="form-login__link">
                Зарегистрироваться
              </a>
            </span>
          </form>
        </div>
      </div>
      <picture class="authorization__image">
        <source srcset="assets/img/login-fon.webp" type="image/webp">
        <img alt="login-img" class="image authorization__img" height="650" loading="lazy" src="assets/img/login-fon.jpg"
             width="1920">
      </picture>
    </div>
  </div>
</section>
