<div class="address">
  <div class="address__wrap">
    <h2 class="address__title">адреса доставки</h2>
    <div class="address__content">
      <ul class="address__list" *ngIf="addressArray.length > 0">
        <li
          class="address__item address-elem"
          *ngFor="let address of addressArray"
        >
          <div class="address-elem__wrap">
            <span class="address-elem__id">Адрес {{ address.id }}</span>
            <span class="address__info">{{
              address.street +
                ", " +
                address.house +
                ", " +
                address.postcode +
                ", " +
                address.city
            }}</span>
            <button
              class="address__btn-edit btn-reset"
              [routerLink]="'../address/' + address.id"
            >
              изменить
            </button>
          </div>
        </li>
      </ul>
      <p class="address__empty" *ngIf="addressArray.length === 0">
        Для более удобного оформления заказов, добавьте свой адрес
      </p>
    </div>
    <button
      class="btn-reset address__btn-add btn-anim"
      routerLink="../address/0"
    >
      <span class="btn-anim__text"> добавить новый адрес </span>
    </button>
  </div>
</div>
