<div class="price">
  <div class="price_wrap">
    <h2 class="price__title">
      Оптовый прайс на нашу мебель
    </h2>
    <div class="price__content">
      <p class="price__text">
        Мы рады предложить оптовикам особые условия сотрудничества, предоставляя доступ к нашему оптовому прайсу на всю
        нашу продукцию. Наша компания стремится к установлению долгосрочных партнерских отношений с оптовыми
        покупателями, предлагая выгодные условия на качественную мебель.
      </p>
      <a class="price__link" download="#">
        <span class="price__link-icon">
          <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.125 16.0469V24.7969L16.0417 21.8802" stroke="#292D32" stroke-width="1.3"
                    stroke-linecap="round"
                    stroke-linejoin="round"/>
              <path d="M13.1249 24.7917L10.2083 21.875" stroke="#292D32" stroke-width="1.3" stroke-linecap="round"
                    stroke-linejoin="round"/>
              <path
                d="M32.0834 14.5885V21.8802C32.0834 29.1719 29.1667 32.0885 21.8751 32.0885H13.1251C5.83341 32.0885 2.91675 29.1719 2.91675 21.8802V13.1302C2.91675 5.83854 5.83341 2.92188 13.1251 2.92188H20.4167"
                stroke="#292D32" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M32.0834 14.5885H26.2501C21.8751 14.5885 20.4167 13.1302 20.4167 8.75521V2.92188L32.0834 14.5885Z"
                stroke="#292D32" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </span>
        <span class="price__link-text">Скачать<br>прайс</span>
      </a>
    </div>
  </div>
</div>
