<section class="news">
  <div class="news__header">
    <h1 class="news__title">как ухаживать <br />за мягкой мебелью</h1>
  </div>
  <div class="small-container">
    <div class="breadcrumbs news__breadcrumbs">
      <a [routerLink]="'/'" class="breadcrumbs__link">главная</a>
      <a [routerLink]="'/all-news'" class="breadcrumbs__link">Новости</a>
      <a
        [routerLink]="'/news-page'"
        class="breadcrumbs__link breadcrumbs__link--active"
        >как ухаживать за мягкой мебелью</a
      >
    </div>
    <div class="news__content content-news">
      <div class="content-news__row">
        <h2 class="content-news__item">как ухаживать за мягкой мебелью</h2>
        <div class="content-news__inner content-inner content-inner--grid-3">
          <p class="content-inner__text">
            Для того чтобы новая мягкая мебель долго радовала вас своим внешним
            видом, при выборе изделия, обязательно поинтересуйтесь у
            производителя характеристиками ткани, из которой оно выполнено. В
            идеале в паспорте изделия вы должны получить маленький кусочек ткани
            с описанием ее свойств. Очень важно перед началом эксплуатации
            внимательно изучить эту информацию и следовать рекомендациям
            производителя. Обратите особое внимание на состав ткани, способы
            ухода, на то, есть ли на ней специальное защитное покрытие.
          </p>
          <p class="content-inner__text">
            Профилактический уход –лучшее средство для поддержания красоты и
            чистоты вашей мебели. Раз в неделю собирайте пыль при помощи
            пылесоса или при помощи мягкой щётки. Если не ухаживать за обивкой с
            самого начала – со временем на ней может появиться эффект
            «затёртости», когда отдельные части дивана, такие как подлокотники и
            подушки сиденья, темнеют и заметно отличаются по цвету от всего
            изделия.
          </p>
          <p class="content-inner__text">
            Общие загрязнения удаляются двумя способами: стиркой (при съёмных
            чехлах) и химической чисткой. Во избежание появления разводов,
            стирать следует весь чехол, а не отдельную его часть. Химчистку
            лучше доверить профессионалам. Особенно если это дорогие
            качественные обивочные ткани для диванов, которые требуют
            деликатного ухода.
          </p>
          <picture>
            <source
              srcset="assets/img/news/news-page-img1.webp"
              type="image/webp"
            />
            <img
              src="assets/img/news/news-page-img1.jpg"
              class="image content-inner__image"
              width="940"
              height="276"
              alt="news-image"
            />
          </picture>
        </div>
      </div>
      <div class="content-news__row">
        <h2 class="content-news__item">10 правил по уходу за мебелью</h2>
        <div class="content-news__inner content-inner content-inner--grid-2">
          <ol class="content-inner__list">
            <li class="content-inner__item">
              Строго следуйте рекомендациям производителя по уходу за тканью;
            </li>
            <li class="content-inner__item">
              Периодически чистите диван пылесосом;
            </li>
            <li class="content-inner__item">
              При съемном мебельном покрытии для удаления загрязнений
              рекомендуется воспользоваться услугами химчистки.
            </li>
            <li class="content-inner__item">
              Водо-грязезащитные покрытия — не панацея, а лишь ваш временный
              помощник в уходе за тканью;
            </li>
            <li class="content-inner__item">
              Помните, что дорогая обивка требует бережного ухода;
            </li>
            <li class="content-inner__item">
              Удаление пятен лучше всего проводить незамедлительно.
            </li>
            <li class="content-inner__item">
              Не рекомендуется замывать загрязненный участок большим количеством
              воды во избежание появления разводов на ткани.
            </li>
            <li class="content-inner__item">
              При использовании пятновыводителя внимательно прочитайте
              инструкцию. - Попробуйте его сначала на небольшом незаметном
              участке и дайте высохнуть.
            </li>
            <li class="content-inner__item">
              Чистящее средство необходимо наносить, не втирая в поверхность.
            </li>
            <li class="content-inner__item">
              Пятно следует протирать по направлению от края к центру. Если
              ткань ворсовая, то по направлению ворса.
            </li>
          </ol>
          <picture>
            <source
              srcset="assets/img/news/news-page-img2.webp"
              type="image/webp"
            />
            <img
              src="assets/img/news/news-page-img2.jpg"
              class="image content-inner__image"
              width="460"
              height="276"
              alt="news-image"
            />
          </picture>
          <picture>
            <source
              srcset="assets/img/news/news-page-img3.webp"
              type="image/webp"
            />
            <img
              src="assets/img/news/news-page-img3.jpg"
              class="image content-inner__image"
              width="460"
              height="276"
              alt="news-image"
            />
          </picture>
        </div>
      </div>
      <div class="content-news__row">
        <h2 class="content-news__item">помощь</h2>
        <div class="content-news__inner content-inner content-inner--grid-1">
          <p class="content-inner__text">
            Если у вас возникли вопросы по уходу за вашей мягкой мебелью -
            напишите нам на почту info@jamni.ru и вас проконсультирует наш
            технолог.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--  <section class="else-product news__else else-product&#45;&#45;gray-bg">-->
  <!--    <div class="small-container">-->
  <!--      <h2 class="else-product__title">еще статьи</h2>-->
  <!--      <span class="else-product__subtitle">вам может понравится</span>-->
  <!--      <div class=" sliderMy else-product__slider slider-elseProduct">-->
  <!--        <div class="sliderMy__wrapper slider-elseProduct__wrapper slider-elseProduct__wrapper">-->
  <!--          <div class="content-all-news__item item-news slider-elseProduct__slide">-->
  <!--            <a href="news-page.html">-->
  <!--              <article class="item-news__wrap item-news__wrap&#45;&#45;slide">-->
  <!--                <div class="item-news__image">-->
  <!--                  <picture>-->
  <!--                    <source srcset="assets/img/news/news-item1.webp" type="image/webp">-->
  <!--                    <img  src="assets/img/news/news-item1.jpg" class="image" width="340" height="478"-->
  <!--                         alt="news-image">-->
  <!--                  </picture>-->
  <!--                </div>-->
  <!--                <div class="item-news__row">-->
  <!--                    <span class="item-news__categories">-->
  <!--                        тренды-->
  <!--                    </span>-->
  <!--                  <span class="item-news__date">-->
  <!--                      05.10.23-->
  <!--                    </span>-->
  <!--                </div>-->
  <!--                <div class="item-news__description">-->
  <!--                  <h1 class="item-news__title">тренды в мебели 2024</h1>-->
  <!--                  <p class="item-news__text">-->
  <!--                    Какие модные тренды и тенденции в мире мебели нас ждут в 2024 году? Расскажем и покажем в этой-->
  <!--                    статье-->
  <!--                  </p>-->
  <!--                </div>-->
  <!--              </article>-->
  <!--            </a></div>-->
  <!--          <div class="content-all-news__item item-news slider-elseProduct__slide">-->
  <!--            <a href="news-page.html">-->
  <!--              <article class="item-news__wrap item-news__wrap&#45;&#45;slide">-->
  <!--                <div class="item-news__image">-->
  <!--                  <picture>-->
  <!--                    <source srcset="assets/img/news/news-item2.webp" type="image/webp">-->
  <!--                    <img  src="assets/img/news/news-item2.jpg" class="image" width="340" height="478"-->
  <!--                         alt="news-image">-->
  <!--                  </picture>-->
  <!--                </div>-->
  <!--                <div class="item-news__row">-->
  <!--                    <span class="item-news__categories">-->
  <!--                        тренды-->
  <!--                    </span>-->
  <!--                  <span class="item-news__date">-->
  <!--                      05.10.23-->
  <!--                    </span>-->
  <!--                </div>-->
  <!--                <div class="item-news__description">-->
  <!--                  <h1 class="item-news__title">тренды в мебели 2024</h1>-->
  <!--                  <p class="item-news__text">-->
  <!--                    Какие модные тренды и тенденции в мире мебели нас ждут в 2024 году? Расскажем и покажем в этой-->
  <!--                    статье-->
  <!--                  </p>-->
  <!--                </div>-->
  <!--              </article>-->
  <!--            </a></div>-->
  <!--          <div class="content-all-news__item item-news slider-elseProduct__slide">-->
  <!--            <a href="news-page.html">-->
  <!--              <article class="item-news__wrap item-news__wrap&#45;&#45;slide">-->
  <!--                <div class="item-news__image">-->
  <!--                  <picture>-->
  <!--                    <source srcset="assets/img/news/news-item3.webp" type="image/webp">-->
  <!--                    <img  src="assets/img/news/news-item3.jpg" class="image" width="340" height="478"-->
  <!--                         alt="news-image">-->
  <!--                  </picture>-->
  <!--                </div>-->
  <!--                <div class="item-news__row">-->
  <!--                    <span class="item-news__categories">-->
  <!--                        тренды-->
  <!--                    </span>-->
  <!--                  <span class="item-news__date">-->
  <!--                      05.10.23-->
  <!--                    </span>-->
  <!--                </div>-->
  <!--                <div class="item-news__description">-->
  <!--                  <h1 class="item-news__title">тренды в мебели 2024</h1>-->
  <!--                  <p class="item-news__text">-->
  <!--                    Какие модные тренды и тенденции в мире мебели нас ждут в 2024 году? Расскажем и покажем в этой-->
  <!--                    статье-->
  <!--                  </p>-->
  <!--                </div>-->
  <!--              </article>-->
  <!--            </a></div>-->
  <!--          <div class="content-all-news__item item-news slider-elseProduct__slide">-->
  <!--            <a href="news-page.html">-->
  <!--              <article class="item-news__wrap item-news__wrap&#45;&#45;slide">-->
  <!--                <div class="item-news__image">-->
  <!--                  <picture>-->
  <!--                    <source srcset="assets/img/news/news-item4.webp" type="image/webp">-->
  <!--                    <img  src="assets/img/news/news-item4.jpg" class="image" width="340" height="478"-->
  <!--                         alt="news-image">-->
  <!--                  </picture>-->
  <!--                </div>-->
  <!--                <div class="item-news__row">-->
  <!--                    <span class="item-news__categories">-->
  <!--                        тренды-->
  <!--                    </span>-->
  <!--                  <span class="item-news__date">-->
  <!--                      05.10.23-->
  <!--                    </span>-->
  <!--                </div>-->
  <!--                <div class="item-news__description">-->
  <!--                  <h1 class="item-news__title">тренды в мебели 2024</h1>-->
  <!--                  <p class="item-news__text">-->
  <!--                    Какие модные тренды и тенденции в мире мебели нас ждут в 2024 году? Расскажем и покажем в этой-->
  <!--                    статье-->
  <!--                  </p>-->
  <!--                </div>-->
  <!--              </article>-->
  <!--            </a></div>-->
  <!--          <div class="content-all-news__item item-news slider-elseProduct__slide">-->
  <!--            <a href="news-page.html">-->
  <!--              <article class="item-news__wrap item-news__wrap&#45;&#45;slide">-->
  <!--                <div class="item-news__image">-->
  <!--                  <picture>-->
  <!--                    <source srcset="assets/img/news/news-item1.webp" type="image/webp">-->
  <!--                    <img  src="assets/img/news/news-item1.jpg" class="image" width="340" height="478"-->
  <!--                         alt="news-image">-->
  <!--                  </picture>-->
  <!--                </div>-->
  <!--                <div class="item-news__row">-->
  <!--                    <span class="item-news__categories">-->
  <!--                        тренды-->
  <!--                    </span>-->
  <!--                  <span class="item-news__date">-->
  <!--                      05.10.23-->
  <!--                    </span>-->
  <!--                </div>-->
  <!--                <div class="item-news__description">-->
  <!--                  <h1 class="item-news__title">тренды в мебели 2024</h1>-->
  <!--                  <p class="item-news__text">-->
  <!--                    Какие модные тренды и тенденции в мире мебели нас ждут в 2024 году? Расскажем и покажем в этой-->
  <!--                    статье-->
  <!--                  </p>-->
  <!--                </div>-->
  <!--              </article>-->
  <!--            </a></div>-->
  <!--          <div class="content-all-news__item item-news slider-elseProduct__slide">-->
  <!--            <a href="news-page.html">-->
  <!--              <article class="item-news__wrap item-news__wrap&#45;&#45;slide">-->
  <!--                <div class="item-news__image">-->
  <!--                  <picture>-->
  <!--                    <source srcset="assets/img/news/news-item2.webp" type="image/webp">-->
  <!--                    <img  src="assets/img/news/news-item2.jpg" class="image" width="340" height="478"-->
  <!--                         alt="news-image">-->
  <!--                  </picture>-->
  <!--                </div>-->
  <!--                <div class="item-news__row">-->
  <!--                    <span class="item-news__categories">-->
  <!--                        тренды-->
  <!--                    </span>-->
  <!--                  <span class="item-news__date">-->
  <!--                      05.10.23-->
  <!--                    </span>-->
  <!--                </div>-->
  <!--                <div class="item-news__description">-->
  <!--                  <h1 class="item-news__title">тренды в мебели 2024</h1>-->
  <!--                  <p class="item-news__text">-->
  <!--                    Какие модные тренды и тенденции в мире мебели нас ждут в 2024 году? Расскажем и покажем в этой-->
  <!--                    статье-->
  <!--                  </p>-->
  <!--                </div>-->
  <!--              </article>-->
  <!--            </a></div>-->
  <!--          <div class="content-all-news__item item-news slider-elseProduct__slide">-->
  <!--            <a href="news-page.html">-->
  <!--              <article class="item-news__wrap item-news__wrap&#45;&#45;slide">-->
  <!--                <div class="item-news__image">-->
  <!--                  <picture>-->
  <!--                    <source srcset="assets/img/news/news-item3.webp" type="image/webp">-->
  <!--                    <img  src="assets/img/news/news-item3.jpg" class="image" width="340" height="478"-->
  <!--                         alt="news-image">-->
  <!--                  </picture>-->
  <!--                </div>-->
  <!--                <div class="item-news__row">-->
  <!--                    <span class="item-news__categories">-->
  <!--                        тренды-->
  <!--                    </span>-->
  <!--                  <span class="item-news__date">-->
  <!--                      05.10.23-->
  <!--                    </span>-->
  <!--                </div>-->
  <!--                <div class="item-news__description">-->
  <!--                  <h1 class="item-news__title">тренды в мебели 2024</h1>-->
  <!--                  <p class="item-news__text">-->
  <!--                    Какие модные тренды и тенденции в мире мебели нас ждут в 2024 году? Расскажем и покажем в этой-->
  <!--                    статье-->
  <!--                  </p>-->
  <!--                </div>-->
  <!--              </article>-->
  <!--            </a></div>-->
  <!--          <div class="content-all-news__item item-news slider-elseProduct__slide">-->
  <!--            <a href="#">-->
  <!--              <article class="item-news__wrap item-news__wrap&#45;&#45;slide">-->
  <!--                <div class="item-news__image">-->
  <!--                  <picture>-->
  <!--                    <source srcset="assets/img/news/news-item4.webp" type="image/webp">-->
  <!--                    <img  src="assets/img/news/news-item4.jpg" class="image" width="340" height="478"-->
  <!--                         alt="news-image">-->
  <!--                  </picture>-->
  <!--                </div>-->
  <!--                <div class="item-news__row">-->
  <!--                    <span class="item-news__categories">-->
  <!--                        тренды-->
  <!--                    </span>-->
  <!--                  <span class="item-news__date">-->
  <!--                      05.10.23-->
  <!--                    </span>-->
  <!--                </div>-->
  <!--                <div class="item-news__description">-->
  <!--                  <h1 class="item-news__title">тренды в мебели 2024</h1>-->
  <!--                  <p class="item-news__text">-->
  <!--                    Какие модные тренды и тенденции в мире мебели нас ждут в 2024 году? Расскажем и покажем в этой-->
  <!--                    статье-->
  <!--                  </p>-->
  <!--                </div>-->
  <!--              </article>-->
  <!--            </a></div>-->
  <!--        </div>-->
  <!--        <div class="sliderMy__control slider-elseProduct__control">-->
  <!--          <button class="btn-reset sliderMy__btn sliderMy__btn&#45;&#45;prev">-->
  <!--            <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39" fill="none">-->
  <!--              <circle cx="19.5" cy="19.5" r="19" stroke="#E8E8E8"/>-->
  <!--              <path d="M22 25L15.9999 18.9999L22 12.9998" stroke="black" stroke-linecap="round"/>-->
  <!--            </svg>-->
  <!--          </button>-->
  <!--          <div class="sliderMy__scrollbar"></div>-->
  <!--          <button class="btn-reset sliderMy__btn sliderMy__btn&#45;&#45;next">-->
  <!--            <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39" fill="none">-->
  <!--              <circle cx="19.5" cy="19.5" r="19" stroke="#E8E8E8"/>-->
  <!--              <path d="M22 25L15.9999 18.9999L22 12.9998" stroke="black" stroke-linecap="round"/>-->
  <!--            </svg>-->
  <!--          </button>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>-->
</section>
