.personal-area {
  padding: 40px 0 140px 0;
}

.personal-area__breadcrumbs {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d3d3d3;
}

.personal-content {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.personal-nav {
  flex: 0 0 155px;
}

.personal-nav__lest {
  list-style: none;
}

.personal-nav__item {
  &:last-child > .personal-nav__link {
    margin-top: 80px;
    color: #a7a7a7;
  }
}

.personal-nav__link {
  display: inline-block;
  font-family: ProximaNova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 12px;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #000;
  transition: 0.1s ease-in;
  border-bottom: 0.5px solid transparent;

  &.active {
    transition: 0.1s ease-in;
    text-shadow: 0 0px 1px black;
    border-bottom: 0.5px solid black;
  }
}

.personal-content__inner {
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
}

@media all and (max-width: 1200px) {
  .personal-content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}

@media all and (max-width: 1000px) {
  .personal-nav {
    flex: 0 0 auto;
  }

  .personal-content {
    display: flex;
    gap: 60px;
    flex-direction: column;
  }

  .personal-nav__lest {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3;
  }

  .personal-nav__item {
    &:last-child > .personal-nav__link {
      margin-top: 0;
      color: #a7a7a7;
    }

    &:nth-child(6) {
      flex: 1 1 auto;
    }
  }
}
@media all and (max-width: 800px) {
  .personal-area {
    padding: 40px 0 60px 0;
  }
  .personal-content {
    gap: 10px;
  }
  .personal-nav__lest {
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-bottom: none;
  }
}
