<section class="delivery">
  <div class="delivery__info info-delivery">
    <div class="delivery__bg-gray">
      <h1 class="info-delivery__title">оплата и доставка</h1>
      <div class="container">
        <div class="info-delivery__wrap">
          <picture class="info-delivery__image">
            <source srcset="assets/img/delivery-img.webp" type="image/webp" />
            <img
              alt="content-image"
              class="image info-delivery__img"
              height="1029"
              src="assets/img/delivery-img.jpg"
              width="710"
            />
          </picture>
          <div class="info-delivery__content">
            <div class="info-delivery__block">
              <h2 class="info-delivery__title-block">самовывоз</h2>
              <p class="info-delivery__text">
                Самовывоз осуществляется бесплатно по адресу: м. Ботанический
                сад, Сельскохозяйственная уд., д. 12А, стр. 6.
              </p>
              <p class="info-delivery__text">
                Время работы пн-пт 10:00–19:00. Возможен самовывоз в нерабочее
                время по предварительному согласованию.
              </p>
            </div>
            <div class="info-delivery__block">
              <h2 class="info-delivery__title-block">доставка</h2>
              <p class="info-delivery__text info-delivery__text--bold">
                Условия доставки малогабаритных товаров:
              </p>
              <p class="info-delivery__text">
                Если Вы находитесь в Москве, мы можем доставить Ваш заказ
                курьером в пределах МКАД в течение 2-х рабочих дней. Стоимость
                доставки — 800 рублей, при наличии товара в шоу-руме.
              </p>
              <p class="info-delivery__text">
                Доставка в пределах 20 км от МКАД осуществляется в течение 2-5
                рабочих дней. Стоимость доставки — 1000 рублей.
              </p>
            </div>
            <div class="info-delivery__block">
              <p class="info-delivery__text info-delivery__text--bold">
                Условия доставки крупногабаритных товаров:
              </p>
              <p class="info-delivery__text">
                Доставка крупногабаритных товаров в пределах МКАД осуществляется
                в удобное для клиента время. Стоимость доставки — 2000 рублей.
              </p>
              <p class="info-delivery__text">
                Доставка крупногабаритных товаров до 20 км от МКАД
                осуществляется в удобное для клиента время. Стоимость доставки —
                2500 рублей. Далее — 30 рублей/км.
              </p>
              <p class="info-delivery__text">
                Подъем на этаж при наличии грузового лифта — 500 рублей.
              </p>
              <p class="info-delivery__text">
                Подъем на этаж без грузового лифта — 300 рублей/этаж.
              </p>
              <p class="info-delivery__text">Монтаж — 1500 рублей/шт.</p>
              <p class="info-delivery__text">
                Доставка крупногабаритных товаров согласовывается с менеджером.
              </p>
            </div>
            <div class="info-delivery__partner partner">
              <p class="partner__text">
                Мы отправляем заказы по России с помощью компаний «Деловые
                линии» и ПЭК. Возможна отправка транспортной компанией по выбору
                Заказчика. Стоимость доставки рассчитывается в соответствии с
                тарифами выбранной транспортной компании. Товар отправляется
                в упакованном для транспортировки виде.
              </p>
            </div>
          </div>
          <picture class="info-delivery__image">
            <source srcset="assets/img/delivery-img.webp" type="image/webp" />
            <img
              alt="content-image"
              class="image info-delivery__img"
              height="1029"
              src="assets/img/delivery-img.jpg"
              width="710"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="small-container">
      <div class="info-delivery__site-pay site-pay">
        <h2 class="site-pay__title">Оплата на сайте</h2>
        <p class="site-pay__subtitle">
          Оплата банковскими картами осуществляется через АО «АЛЬФА-БАНК».
          К оплате принимаются карты VISA, MasterCard, МИР.
        </p>
        <div class="site-pay__wrap">
          <div class="site-pay__column">
            <p class="site-pay__text">
              Услуга оплаты через интернет осуществляется в соответствии
              с Правилами международных платежных систем Visa, MasterCard
              и Платежной системы МИР на принципах соблюдения конфиденциальности
              и безопасности совершения платежа, для чего используются самые
              современные методы проверки, шифрования и передачи данных
              по закрытым каналам связи. Ввод данных банковской карты
              осуществляется на защищенной платежной странице АО «АЛЬФА-БАНК».
            </p>
            <p class="site-pay__text">
              На странице для ввода данных банковской карты потребуется ввести
              данные банковской карты: номер карты, имя владельца карты, срок
              действия карты, трёхзначный код безопасности (CVV2 для VISA, CVC2
              для MasterCard, Код Дополнительной Идентификации для МИР).
            </p>
            <p class="site-pay__text">
              Все необходимые данные пропечатаны на самой карте. Трёхзначный код
              безопасности — это три цифры, находящиеся на обратной стороне
              карты.Далее вы будете перенаправлены на страницу Вашего банка для
              ввода кода безопасности, который придет к Вам в СМС. Если код
              безопасности к Вам не пришел, то следует обратиться в банк
              выдавший Вам карту.
            </p>
          </div>
          <div class="site-pay__column">
            <p class="site-pay__text site-pay__text--bold">
              Случаи отказа в совершении платежа:
            </p>
            <p class="site-pay__text">
              банковская карта не предназначена для совершения платежей через
              интернет, о чем можно узнать, обратившись в Ваш Банк; недостаточно
              средств для оплаты на банковской карте. Подробнее о наличии
              средств на банковской карте Вы можете узнать, обратившись в банк,
              выпустивший банковскую карту; данные банковской карты введены
              неверно; истек срок действия банковской карты. Срок действия
              карты, как правило, указан на лицевой стороне карты (это месяц
              и год, до которого действительна карта). Подробнее о сроке
              действия карты Вы можете узнать, обратившись в банк, выпустивший
              банковскую карту;
            </p>
            <p class="site-pay__text">
              По вопросам оплаты с помощью банковской карты и иным вопросам,
              связанным с работой сайта, Вы можете обращаться по следующим
              телефонам: +7 495 150-10-91
            </p>
            <p class="site-pay__text">
              Предоставляемая вами персональная информация (имя, адрес, телефон,
              e-mail, номер банковской карты) является конфиденциальной
              и не подлежит разглашению. Данные вашей кредитной карты передаются
              только в зашифрованном виде и не сохраняются на нашем Web-сервере.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="delivery__bg-gray">
      <div class="container">
        <div class="info-delivery__return return-policy">
          <div class="return-policy__wrap">
            <div class="return-policy__content content-return">
              <h2 class="content-return__title">Правила возврата товара</h2>
              <p class="content-return__warning">
                Внимание! Обмен товара надлежащего качества возможен только
                после предварительной договоренности с нашим менеджером!
              </p>
              <p class="content-return__text">
                При оплате картами возврат наличными денежными средствами
                не допускается. Порядок возврата регулируется правилами
                международных платежных систем. Процедура возврата товара
                регламентируется статьей 26.1 федерального закона «О защите прав
                потребителей». Потребитель вправе отказаться от товара в любое
                время до его передачи, а после передачи товара — в течение семи
                дней; Возврат товара надлежащего качества возможен в случае,
                если сохранены его товарный вид, потребительские свойства,
                а также документ, подтверждающий факт и условия покупки
                указанного товара;
              </p>
              <p class="content-return__text">
                Потребитель не вправе отказаться от товара надлежащего качества,
                имеющего индивидуально-определенные свойства, если указанный
                товар может быть использован исключительно приобретающим его
                человеком; При отказе потребителя от товара продавец должен
                возвратить ему денежную сумму, уплаченную потребителем по
                договору, за исключением расходов продавца на доставку
                от потребителя возвращенного товара, не позднее чем через десять
                дней со дня предъявления потребителем соответствующего
                требования;
              </p>
              <p class="content-return__text">
                Для возврата денежных средств на банковскую карту необходимо
                заполнить «Заявление о возврате денежных средств», которое
                высылается по требованию компанией на электронный адрес
                и оправить его вместе с приложением копии паспорта по адресу
                info@jamni.ru Возврат денежных средств будет осуществлен на
                банковскую карту в течение 21 (двадцати одного) рабочего дня
                со дня получения «Заявление о возврате денежных средств»
                Компанией. Для возврата денежных средств по операциям
                проведенными с ошибками необходимо обратиться с письменным
                заявлением и приложением копии паспорта и чеков/квитанций,
                подтверждающих ошибочное списание.
              </p>
              <p class="content-return__text">
                Данное заявление необходимо направить по адресу info@jamni.ru
                Сумма возврата будет равняться сумме покупки. Срок рассмотрения
                Заявления и возврата денежных средств начинает исчисляться
                с момента получения Компанией Заявления и рассчитывается
                в рабочих днях без учета праздников/выходных дней.
              </p>
            </div>
            <picture class="return-policy__image">
              <source
                srcset="assets/img/delivery-img1.webp"
                type="image/webp"
              />
              <img
                alt="img-delivery"
                class="image return-policy__img"
                height="789"
                src="assets/img/delivery-img1.jpg"
                width="710"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
