<section class="about-brand">
  <div class="container about-brand__container">
    <h2 class="about-brand__title">о бренде</h2>
    <span class="about-brand__subtitle">Познакомимся</span>
    <div class="about-brand__content content-brand">
      <p class="content-brand__text"><img src="assets/img/logo-text.png" class="content-brand__logo" loading="lazy" alt="logo">
        это ландшафтное ателье с
        дружной командой единомышленников, искренне любящих свое
        дело. Для каждого из нас это не просто работа, это одна маленькая жизнь, где мы создаём лёгкие, яркие и
        действительно качественные вещи для дома и сада.<br>
        <br>
        Впереди ещё много открытий, знакомство с которыми вам предстоит на страницах нашего сайта.</p>
      <div class="content-brand__images">
        <picture>
          <source srcset="assets/img/about-brand/brand1.webp" type="image/webp">
          <img loading="lazy" src="assets/img/about-brand/brand1.jpg" class="image content-brand__image" width="470px"
               height="430px" alt="brand_img">
        </picture>
        <picture>
          <source srcset="assets/img/about-brand/brand2.webp" type="image/webp">
          <img loading="lazy" src="assets/img/about-brand/brand2.jpg" class="image content-brand__image" width="300"
               height="300" alt="brand_img">
        </picture>
      </div>
    </div>
    <div class="about-brand__services services-brand">
      <div class="services-brand__line">
        <div class="services-brand__column">
          <span class="services-brand__title">01</span>
          <div class="services-brand__content">
            <img src="assets/img/about-brand/3d.svg" alt="icon" class="services-brand__img">
            <span class="services-brand__txt">3D-модель <br> мебели</span>
          </div>
        </div>
      </div>

      <div class="services-brand__line">
        <div class="services-brand__column">
          <span class="services-brand__title">02</span>
          <div class="services-brand__content">
            <img src="assets/img/about-brand/medal.svg" alt="icon" class="services-brand__img">
            <span class="services-brand__txt">гарантия качества<br>и сроков</span>
          </div>
        </div>
      </div>

      <div class="services-brand__line">
        <div class="services-brand__column">
          <span class="services-brand__title">03</span>
          <div class="services-brand__content">
            <img src="assets/img/about-brand/crown.svg" alt="icon" class="services-brand__img">
            <span class="services-brand__txt">индивидуальный<br>заказ</span>
          </div>
        </div>
      </div>

      <div class="services-brand__line">
        <div class="services-brand__column">
          <span class="services-brand__title">04</span>
          <div class="services-brand__content">
            <img src="assets/img/about-brand/delivery.svg" alt="icon" class="services-brand__img">
            <span class="services-brand__txt">Доставка <br>и монтаж</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="projects">
  <div class="container">
    <h2 class="projects__title">
      наши проекты
    </h2>
    <span class="projects__subtitle">
 с душой реализованные идеи
    </span>
    <div class="projects__slider slider-project">
      <div class="slider-project__wrap">
        <div class="slider-project__slide">
          <picture>
            <source srcset="assets/img/project-slide/slide2.webp" type="image/webp">
            <img loading="lazy" src="assets/img/project-slide/slide2.png" class="image slider-project__image"
                 alt="our_projects">
          </picture>
          <h3 class="slider-project__title">ДИВАНЫ И КРЕСЛА ЧЕСТЕРФИЛД</h3>
          <p class="slider-project__decription">Как использовать традиционную мягкую мебель при оформлении интерьеров в
            разных стилях.</p>
        </div>
        <div class="slider-project__slide">
          <picture>
            <source srcset="assets/img/project-slide/slide3.webp" type="image/webp">
            <img loading="lazy" src="assets/img/project-slide/slide3.png" class="image slider-project__image"
                 alt="our_projects">
          </picture>
          <h3 class="slider-project__title">Jamni на HELPER’S BAZAR</h3>
          <p class="slider-project__decription">Погрузитесь в этот день вместе с нами и нашей мебелью.</p>
        </div>
        <div class="slider-project__slide">
          <picture>
            <source srcset="assets/img/project-slide/slide1.webp" type="image/webp">
            <img loading="lazy" src="assets/img/project-slide/slide1.jpg" class="image slider-project__image"
                 alt="our_projects">
          </picture>
          <h3 class="slider-project__title">Эфиры передачи «Дачный ответ» с нашей мебелью</h3>
          <p class="slider-project__decription">Иногда героями передач становятся изделия из нашей стандартной
            коллекции, а иногда нам выпадает большая честь — изготавливать мебель по эксклюзивным проектам авторов!</p>
        </div>
        <div class="slider-project__slide">
          <picture>
            <source srcset="assets/img/project-slide/slide4.webp" type="image/webp">
            <img loading="lazy" src="assets/img/project-slide/slide4.jpg" class="image slider-project__image"
                 alt="our_projects">
          </picture>
          <h3 class="slider-project__title">фото с нашей мебелью в интерьерах покупателей</h3>
          <p class="slider-project__decription">Подборка фото от наших покупателей</p>
        </div>
        <div class="slider-project__slide">
          <picture>
            <source srcset="assets/img/project-slide/slide5.webp" type="image/webp">
            <img loading="lazy" src="assets/img/project-slide/slide5.jpg" class="image slider-project__image"
                 alt="our_projects">
          </picture>
          <h3 class="slider-project__title">Как устроены наши кровати</h3>
          <p class="slider-project__decription">Отвечаем на ваши вопросы о наших кроватях.</p>
        </div>
      </div>
      <div class="slider-project__control">
        <button class="slider-project__btn slider-project__btn--prev btn-reset">
          <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39" fill="none">
            <circle cx="19.5" cy="19.5" r="19" stroke="#E8E8E8"/>
            <path d="M22 25L15.9999 18.9999L22 12.9998" stroke="black" stroke-linecap="round"/>
          </svg>
        </button>
        <div class="slider-project__scrollbar"></div>
        <button class="slider-project__btn slider-project__btn--next btn-reset">
          <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39" fill="none">
            <circle cx="19.5" cy="19.5" r="19" stroke="#E8E8E8"/>
            <path d="M22 25L15.9999 18.9999L22 12.9998" stroke="black" stroke-linecap="round"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="video">
  <video src="video/video.mp4" poster="assets/img/video-prev/video1.jpg" width="1920" height="530"></video>
  <svg xmlns="http://www.w3.org/2000/svg" width="67" height="67" viewBox="0 0 67 67" fill="none" class="video__btn">
    <ellipse cx="33.5" cy="33.5" rx="33.5" ry="33.5" transform="rotate(-180 33.5 33.5)" fill="white"/>
    <path
      d="M42.0284 31.7728C43.3239 32.5256 43.3239 34.4744 42.0284 35.2272L30.8063 41.7485C29.5473 42.4802 28 41.5279 28 40.0213L28 26.9787C28 25.4721 29.5473 24.5198 30.8063 25.2515L42.0284 31.7728Z"
      fill="black"/>
  </svg>
</section>
<section class="offer">
  <div class="container">
    <div class="offer__inner">
      <picture>
        <source srcset="assets/img/offer-block/offer1.webp" type="image/webp">
        <img loading="lazy" src="assets/img/offer-block/offer1.png" class="image offer__image" width="540" height="516"
             alt="offer_img">
      </picture>
      <div class="offer__content">
        <h2 class="offer__title">Воплотим ваш проект <br>в уникальную мебель</h2>
        <p class="offer__text">
          Команда Jamni продолжает работать с профессионалами! Работать с архитекторами, дизайнерами и уникальными
          проектами — наша страсть, давайте делать это вместе! Мы всегда готовы встретиться с вами в Шоу Руме, подобрать
          и предоставить материалы, дать доступ к коллекции оцифрованных моделей.
          <br><br>
          Если у вас есть индивидуальный запрос, проект или необходимо найти и реализовать нестандартное решение
        </p>
        <a [routerLink]="'/load-project'" href="load-project" class="offer__link">для вашего дома или сада — <span class="offer__btn">вам сюда</span></a>
      </div>
    </div>
  </div>
</section>
<section class="callback">
  <div class="container">
    <div class="callback__inner">
      <p class="callback__text">Если у вас, как у дизайнера, уже есть готовый проект и вы ищете возможность его
        реализации, обратитесь к нам</p>
      <a href="mailto:info@jamni.ru" class="callback__link">
        <img src="assets/img/logo_black.png" alt="logo" class="callback__img" width="128px" height="47px">
      </a>
      <p class="callback__text">Если вы хотите заказать дизайн-проект, мы с удовольствием поможем вам связаться с
        профессиональным дизайнером для сотрудничества</p>
    </div>
  </div>
</section>
