<section class="cut-delivery">
  <div class="small-container">
    <div class="cut-info__wrap">
      <div class="breadcrumbs cut-info__breadcrumbs">
        <span class="breadcrumbs__link">Корзина</span>
        <span class="breadcrumbs__link ">информация</span>
        <span class="breadcrumbs__link breadcrumbs__link--active">доставка</span>
        <span class="breadcrumbs__link">оплата</span>
      </div>
      <form action="#" class="cut-delivery__form form form-delivery">
        <div class="form-delivery__inner form-delivery__inner--border">
          <label class="form__label form-delivery__label">
            <span class="form-delivery__title">Контакт</span>
            <textarea name="contacts" type="text" class="form__textarea form-delivery__textarea input-reset" disabled>{{email}}</textarea>
            <button class="form-delivery__btn btn-reset" [routerLink]="'/cut-info'">изменить</button>
          </label>
          <label class="form__label form-delivery__label">
            <span class="form-delivery__title">адрес</span>
            <textarea name="adres" type="text" class="form__textarea form-delivery__textarea input-reset" disabled>{{address}}</textarea>
            <button class="form-delivery__btn btn-reset" [routerLink]="'/cut-info'">изменить</button>
          </label>
        </div>
        <div class="form-delivery__inner">
          <span class="form-delivery__title">способ доставки </span>
          <label class="custom-checkbox form-delivery__checkbox">
            <input type="radio" class="custom-checkbox__field" name="delivery" value="courier" [checked]="deliveryMethod == 'courier'" (change)="changeDelivery('courier')">
            <span
              class="custom-checkbox__content form-delivery__checkbox-content form-info__text--light">Курьер</span>
          </label>
          <label class="custom-checkbox form-delivery__checkbox">
            <input type="radio" class="custom-checkbox__field" name="delivery" value="pickup" [checked]="deliveryMethod == 'self'" (change)="changeDelivery('self')">
            <span
              class="custom-checkbox__content form-delivery__checkbox-content form-info__text--light">Самовывоз (Москва, метро Водный Стадион, Солнечногорская улица 4с30)</span>
          </label>
        </div>
        <button type="button" class="form-delivery__button btn-reset form__btn btn-anim" [routerLink]="'/cut-pay'">
          <span  class="form__btn-text form-delivery__btn-text btn-anim__text">перейти к оплате</span>
        </button>
        <span [routerLink]="'/cut-info'" class="form-delivery__link-back">Вернуться к информации</span>
      </form>
      <div class="cut-info__result result-cut accordion">
        <div class="result-cut__accordion-title accordion__title">
          показать заказ
          <div class="accordion__icon">
            <span class="accordion__icon-line accordion__icon-line--horizontal"></span>
            <span class="accordion__icon-line accordion__icon-line--vertical"></span>
          </div>
        </div>
        <div class="accordion__content">
          <h1 class="result-cut__title">
            итоговая сумма
          </h1>
          <div class="result-cut__items" data-simplebar>
            <div class="result-cut__item item-cut" *ngFor="let product of generalService.selectedItems">
              <div class="item-cut__wrap">
                <picture>
                  <source [srcset]="product.product.coverImage || 'assets/img/no-img-placeholder.svg'" type="image/webp">
                  <img loading="lazy" [src]="product.product.coverImage || 'assets/img/no-img-placeholder.svg'" class="image" width="130" height="130"
                       alt="prod-image">
                </picture>
                <div class="item-cut__content" data-prod="result-cut">
                  <h3 class="item-cut__title">{{product.product.name}}</h3>
                  <span class="item-cut__price">{{generalService.getProductAmount(product) * product.product.price}} руб</span>
                  <div class="item-cut__count count-prod">
                    <button class="btn-reset count-prod__minus" (click)="generalService.deleteProduct(product)">-</button>
                    <span class="count-prod__count">{{generalService.getProductAmount(product)}}</span>
                    <button class="btn-reset count-prod__plus" (click)="generalService.addProduct(product)">+</button>
                  </div>
                </div>
                <button class="btn-reset item-cut__delete" (click)="generalService.deleteProduct(product)">
                  <img src="assets/img/cut-img/delete-prod.png" width="20" height="20" alt="delete-icon"
                       class="item-cut__icon-delete">
                </button>
              </div>
            </div>
          </div>
          <div class="result-cut__sum sum-cut">
            <div class="sum-cut__wrap">
              <!--              <form action="#" class="sum-cut__coupon form form-coupon">-->
              <!--                <label class="form__label">-->
              <!--                  <input type="text" class="input-reset form__input form-coupon__input" name="coupon"-->
              <!--                         placeholder="Подарочная карта или купон">-->
              <!--                </label>-->
              <!--                <button type="button" class="form-coupon__btn btn-reset form__btn btn-anim">-->
              <!--                  <span class="form__btn-text form-coupon__btn-text btn-anim__text">применить</span>-->
              <!--                </button>-->
              <!--              </form>-->
              <div class="sum-cut__inner-text">
                <!--                <div class="sum-cut__row">-->
                <!--                  <span class="sum-cut__title">промежуточный</span>-->
                <!--                  <span class="sum-cut__txt" data-full-price="result-cut">0</span>-->
                <!--                </div>-->
<!--                <div class="sum-cut__row">-->
<!--                  <span class="sum-cut__title">доставка</span>-->
<!--                  <span class="sum-cut__txt sum-cut__txt&#45;&#45;light">Расситывается на следующем шаге</span>-->
<!--                </div>-->
                <div class="sum-cut__row">
                  <span class="sum-cut__title sum-cut__title--lg">итог</span>
                  <span class="sum-cut__txt sum-cut__txt--lg">{{generalService.getTotalCartPrice()}} руб</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
