.order-table tbody {
}

.order-item__img-wrap {
  margin-right: 24px;
  width: 155px;
  height: 155px;
  background: #f8f8f8;
}

.order-item__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.desc-order {
  max-width: 150px;
}

.desc-order__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
}

.desc-order__colors {
}

.desc-order__colors-text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #a7a7a7;
}

.desc-order__colors-value {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.desc-order__colors-color {
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

.desc-order__colors-name {
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #000;
}

.order-date {
  display: block;
  margin-bottom: 5px;
  font-family: ProximaNova, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #000;
}

.order-time {
  font-family: ProximaNova, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #a7a7a7;
}

.order-item {
}
.order-item__header {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: end;
}
.order-item__header-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  color: #d3d3d3;
  transition: 0.2s ease-in;
  &:hover {
    color: #000;
    transition: 0.2s ease-in;
  }
}
.order-item__header-icon {
  color: #000;
  font-size: 20px;
}
.order-item__header-title {
  color: #000;
  font-size: 22px;
}
.order-item__header-subtitle {
  color: #a7a7a7;
  font-size: 20px;
}
.order-item__detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.item-detail__row {
  display: flex;
  gap: 10px;
  align-items: start;
}
.item-detail__desc {
  color: #a7a7a7;
}

@media all and (max-width: 960px) {
  .desc-order__title {
    padding: 0 12px;
    margin-bottom: 12px;
  }
  .desc-order {
    width: 100%;
    max-width: 100%;
  }
  .desc-order__colors {
    padding: 12px;
    margin-bottom: 12px;
    background: #fcfcfc;
  }
  .order-date {
    padding: 0 12px;
  }
  .order-time {
    padding: 0 12px;
    margin-bottom: 12px;
  }
}
::ng-deep .item-detail .dropdown {
  max-width: 210px;
}
::ng-deep .item-detail .dropdown__button {
  min-width: 120px;
  padding: 6px 24px 6px 12px;
}

::ng-deep .item-detail .dropdown__list-item {
  padding: 6px 4px;
}
::ng-deep .item-detail .dropdown__icon {
  top: 12px;
  right: 10px;
}
